  <div class="page-header">
      <header class="site-header">

          <div class="nav-bar">
              <div class="container">
                  <div class="row">
                      <div class="col-9 col-lg-3">
                          <div class="site-branding">
                              <h1 class="site-title"><a href="index.html" rel="home">Ezu<span>ca</span></a></h1>
                          </div><!-- .site-branding -->
                      </div><!-- .col -->

                      <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                          <nav class="site-navigation flex justify-content-end align-items-center">
                              <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                  <li class="current-menu-item"><a href="index.html">Home</a></li>
                                  <li><a href="#">About</a></li>
                                  <li><a href="#">blog</a></li>
                                  <li><a href="#">Contact</a></li>
                                  <li><a href="#">Register</a></li>
                                  <li><a href="#">Login</a></li>
                              </ul>

                              <div class="hamburger-menu d-lg-none">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div><!-- .hamburger-menu -->

                              
                          </nav><!-- .site-navigation -->
                      </div><!-- .col -->
                  </div><!-- .row -->
              </div><!-- .container -->
          </div><!-- .nav-bar -->
      </header><!-- .site-header -->

      <div class="page-header-overlay">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <header class="entry-header">
                          <h1>Ruby Website Tutorial</h1>
                      </header><!-- .entry-header -->
                  </div><!-- .col -->
              </div><!-- .row -->
          </div><!-- .container -->
      </div><!-- .page-header-overlay -->
  </div><!-- .page-header -->