
    <div class="col-12 col-lg-4">
        <div class="sidebar">
            <div class="search-widget">
                <form class="flex flex-wrap align-items-center">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                </form><!-- .flex -->
            </div><!-- .search-widget -->

            <div class="cat-links">
                <h2>Lessons</h2>

                <ul class="p-0 m-0">
                    <li><a href="#">Lesson 1</a></li>
                    <li><a href="#">Lesson 2</a></li>
                    <li><a href="#">Lesson 3</a></li>
                    <li><a href="#">Lesson 4</a></li>
                    <li><a href="#">Lesson 5</a></li>
                    <li><a href="#">Lesson 6</a></li>
                </ul>
            </div><!-- .cat-links -->
        </div><!-- .sidebar -->
    </div><!-- .col -->

    <hr>